@{ ViewBag.Title = "Produtos"; }
<div ng-controller="produtoController">
    <div class="panel panel-default">
        <div class="panel-heading">Controle de Produtos</div>
        <div class="panel-body">
            <div class="row">
                <!--row form novoproduto-->
                <div class="col-md-12">
                    <strong class="error">{{ error }}</strong>
                    <form name="novoproduto" ng-show="exibeformNovoProduto == true">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="cadastro" class="col-sm-12 control-label col-md-offset-1">::CADASTRAR NOVO PRODUTO::</label>

                            </div>
                            <label for="descricao" class="col-sm-2 control-label">Descrição:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="descricao" ng-model="novoproduto.descricao" required />

                            </div>
                            <label for="preco_compra" class="col-sm-2 control-label">Preço de compra:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="preco_compra" ng-model="novoproduto.preco_compra" required />

                            </div>
                            ... demais campos
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" value="Cadastrar" ng-click="cadastrarProduto()" class="btn btn-primary" />
                                    <input type="button" value="Cancelar" ng-click="funcCancelarCadastro()" class="btn btn-primary" />

                                </div>

                            </div>

                        </div>

                    </form>

                </div>

            </div><!-- fim row form novoproduto-->
            <div class="row">
                <!--row table listagem de produtos-->
                <div class="col-md-12">
                    <div class="table-responsive" data-ng-hide="ocultaTabelaListagemProdutos">
                        <p><a data-ng-click="funcformNovoProduto()" class="btn btn-primary">Novo produto</a></p>
                        <table class="table table-bordered table-hover">

                            <tr>
                                <td>ID</td>
                                <th>Descrição</th>
                                <th>Preço Compra</th>
                                <th></th>
                            </tr>

                            <tr data-ng-repeat="produto in produtos">
                                <td>{{ produto.idproduto }}</td>
                                <td>{{ produto.descricao }}</td>
                                <td>{{ produto.preco_compra }}</td>
                                <td>
                                    <a data-ng-click="funcformEditarProduto(produto)" href="javascript:;">Editar</a>
                                    | <a data-ng-click="deletarProduto(produto)" href="javascript:;">Deletar</a>
                                </td>

                            </tr>

                        </table>

                    </div><!--fim div class="table-responsive"-->

                </div>

            </div><!--fim row table listagem de produtos-->
            <div class="row">
                <!--row form alterarproduto-->
                <div class="col-md-12">
                    <form name="alterarproduto"  class="invisible">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="alterar" class="col-sm-12 control-label col-md-offset-1">::ALTERAR CADASTRO produto::</label>

                            </div>
                            <label for="idproduto" class="col-sm-2 control-label">ID:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="idproduto" data-ng-model="produtoAlterar.idproduto" required />

                            </div>
                            <label for="descricao" class="col-sm-2 control-label">Descrição:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="descricao" data-ng-model="produtoAlterar.descricao" required />

                            </div>
                            <label for="preco_compra" class="col-sm-2 control-label">Preço de Compra:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="preco_compra" data-ng-model="produtoAlterar.preco_compra" required />

                            </div>
                            ... demais campos
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" value="Salvar alterações" data-ng-click="editarProduto()" class="btn btn-primary" />
                                    <input type="button" value="Cancelar" data-ng-click="funcCancelarEdicao()" class="btn btn-primary" />

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div><!-- fim row form alterarproduto-->

        </div><!--class="panel-body"-->

    </div><!--Fim class="panel panel-default"-->

</div><!--Fim data-ng-controller="produtoController"-->